* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;  /* Declare the base font-family */
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 600px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    
    
}

header h1 {
    
}

header img {
    
}

header .subheading {
    
}

nav {
    
}

nav button {
   
}

nav ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

nav ul li {
    border-bottom: 1px solid #555;
}

nav ul li a {
    display: block;
    color: black;
    padding: 8px 16px;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    
}

nav ul li.active a {
  background-color: #4caf50;
    color: white;
}

nav ul li a:hover {
    background-color: #555;
    color: white;
}

main {
    
}

main h2 {
    
}

main figure { margin: 0 0 .2rem 2%; width:96%; 

}

main figure img { 

}

footer {
    
}