* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: "Helvetica", Arial, sans-serif;  /* Declare the base font-family */
}

header, nav, main, footer { 
    /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    
  max-width: 300px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    
    
}

header h1 {
    position: absolute;
    top: 0px;
    left: 200px
}

header img {
    position: absolute;
    top:0px
}

header .subheading {
    position: absolute;
    top:55px;
    left: 250px;
}

nav {
   position: absolute;
    top: 200px;
    left: 0px;
    width: 300px;
       
}

nav button {
   
}

nav ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

nav ul li {
    border-bottom: 1px solid #555;
}

nav ul li a {
    display: block;
    color: black;
    padding: 8px 16px;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    
}

nav ul li.active a {
  background-color: #4caf50;
    color: white;
}

nav ul li a:hover {
    background-color: #555;
    color: white;
}

main {
  position: absolute;
    top: 500px
}

main h2 {
    text-align: center;
}
main .weather-summary{
    position: relative;
    text-align: center;
}
main figure { margin: 0 0 .2rem 2%; width:96%; 

}

main .current img {
    width: 50px
}
main figure img { 

}
main .forecast{
    display: none
}
footer {
    position: absolute;
    top: 1325px;
    text-align: center;
    background-color:#f1f1f1;
}