@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    
    section.forecast { display:block}  /* show the 10-day forecast with the medium view and up */

    header, nav, main, footer { 
    /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    
  max-width: 800px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}
  nav ul {
      display: block;
   list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    border: 1px solid #555;
    
}

nav ul li {
    
    border-bottom: 1px solid #555;
}

nav ul li a {
    display: block;
    color: black;
    padding: 8px 16px;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    
}

nav ul li.active a {
  background-color: #4caf50;
    color: white;
}

nav ul li a:hover {
    background-color: #555;
    color: white;
}
  }